body{
    background-image:url('../image/code.jpg');
    background-repeat: no-repeat;
    background-size: cover;
   
    
}
body:hover{
    cursor:help;
}
/* #q{
    font-size: 50px;
}
#e{
    height: 100px;
width: 200px;
background-color: #3e1aad;
border-radius: 100%;
}
#r{
    height: 50px;
    width: 200px;
    background-color:rgb(245, 243, 243);
    
} */
div{
    height: 300px;
    width: 800px;
    border-radius: 25px;
    background-color:rgba(27, 149, 197, 0.381) ;
    border: 2px ridge rgba(86, 126, 142, 0.807) ;
    box-shadow: 6px 6px 100px 30px rgba(86, 126, 142, 0.807);
    
   
}
div:hover{
    cursor:not-allowed;
    
}

div:active {
    /* background-color: #4b7174; */
    box-shadow: 9px 5px 100px 30px  #d015c4;
    border: 2px dashed #d015c4;
    background-color: #f408e451 ;
    /* transform: translateY(120px); */
    /* display: flex; */
    
  }
  h1{
    margin-top: 15%;
    text-align: center;
    color:rgba(15, 166, 226, 0.885);
   text-shadow: 6pc -20px 6px;
  }
  