
th{
    
   border: 5px solid;
   border-color: black;
    height: 150px;
    width: 150px;
    background-color:bisque;
    font-size: 65px;
    

}
h2{
    margin-left: 670px;
    font-size: 50px;
    text-shadow:  0px 0px 8px greenyellow ;
}
th:hover i{
    text-shadow:0px 0px 20px  slateblue,2px 0px 30px magenta;
    
}
table{
   
   border-spacing:0px;
 
}
.outer{
    background-color:bisque;

    border: 2px solid;
    margin-top: 120px;
    margin-left: 550px;
    padding: 20px;
    width:460px;
    height:460px;
    border: 5px solid ;
}
i{
    text-shadow:0px 0px 10px  slateblue;
}
th:hover .one{
    border-color:rgba(8, 48, 248, 0.942);
    /* border-width: 8px; */
    font-size: 70px;
    /* box-shadow: 0 0 5px 10px bisque; */
    background-color: bisque;
}
.one{
    border-left: none;
    border-top: none;
}
.two{
    
    border-top: none;
}
.three{
    border-right: none;
    border-top: none;
}
.four{
    border-left: none;
    
}
.five{
     
}
.six{
    border-right: none;
    
}
.seven{
    border-left: none;
    border-bottom: none;
}
.eight{
   
    border-bottom: none; 
}
.nine{
     border-right: none;
     border-bottom: none;
}