.a{
    height: 100%;
    width: 100%;
    background-color:white;
    padding-top: 10px;
}
.a_1{
    height: 45%;
    width: 20%;
    box-shadow: 2px 2px 2px;
    margin: 60px;
    margin-top: 20px;
    float: left;
    background-color: white;
    position: relative;
   left: 150px;
}
.a_2{
    height: 45%;
    width: 20%;
    box-shadow: 2px 2px 2px;
    margin: 60px;
    margin-top: 20px;
    float: left;
    background-color: rgb(181, 111, 245);
    position: relative;
   left: 150px;
}
.a_3{
    height: 45%;
    width: 20%;
    box-shadow: 2px 2px 2px;
    margin: 60px;
    margin-top: 20px;
    float: left;
    background-color:  rgb(248, 217, 217);
    position: relative;
  bottom: 50px;
  left: 150px;
}
.a_4{
    height: 45%;
    width: 20%;
    box-shadow: 2px 2px 2px;
    margin: 60px;
    margin-top: 20px;
    float: left;
    background-color: rgb(181, 111, 245);
    position: relative;
    left: 150px;
    bottom: 50px;
}
.a_5{
    height: 45%;
    width: 20%;
    box-shadow: 2px 2px 2px;
    margin: 60px;
    margin-top: 20px;
    float: left;
    background-color: rgb(248, 217, 217);
    position: relative;
    left: 150px;
    bottom: 50px;
}
h1{
    font-size: 40px;
    margin-left: 15px;
    margin-right: 25px;
}
p{
    margin-left: 15px;
}
button{
    height: 50px;
    width: 100px;
    margin-left: 15px;
    color: white;
    text-align: center;
    background-color: blueviolet;
}
img{
    height: 80px;
    width: 80px;
    margin-left: 15px;
    margin-top: 5px;
}
.p{
    margin-left: 15px;
}
.t{
    height: 15px;
    width: 15px;
    border-radius: 100%;
    margin-right: 10px;
}
.h3{
    margin-left: 35px;
}