.maincnt{
    width: 100%;
    height:auto;
}
.text{
    margin-top: 2%;
    margin-bottom:3% ;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    height: 35%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-overflow: ellipsis;
    text-align: center;
}
.caps{
    letter-spacing: 5;
    text-transform: uppercase;
}
/* span{
    text-decoration: underline;
} */
.btn{
    background-color: blue;
    color: aliceblue;
    text-transform: uppercase;
    width: 15%;
    height: 15%;
    border: none;
    border-radius:20px;
}
.second{
    padding-left: 20%;
    padding-right: 15%;
    background-color: silver;
    height: 50%;
    width: auto;
    margin-top: 25%;

}
.extradiv p{
    color: rgb(113, 111, 111);
}
.extradiv{
    padding: 3%;
    border: none;
    box-shadow: 0px 0px 6px;
    width: 29%;
    height: 75%; 
    position: relative;
    display: inline-block;
   margin: 5%;
   background-color: white;
}
#div1{
    bottom: 55%;
}
#div2{
   
   bottom: 80%; 
}
#div3{
    bottom:45% ;
}
#div4{
    bottom: 70%;
}

.icon{
    border-radius: 100px;
  height: 100px;
}

